# [Regression task](https://www.kaggle.com/competitions/tutors-lessons-prices-prediction)

In [2]:
import sklearn
import pandas as pd

In [3]:
train = pd.read_excel("train.xlsx")
test = pd.read_excel("test.xlsx")

train["ФИО"][14]

'Репетитор по математике  Лихачева Ольга Александровна - фотография'

In [4]:
zero_expel = ["Unnamed: 0"]  # Expel due to non-use
first_expel = ["ФИО", "description"]  # Expel due to low correlation
second_expel = ["experience_desc"]  # Expel due to cannot normalize

train = train.drop(columns=zero_expel + first_expel + second_expel)
test = test.drop(columns=zero_expel + first_expel + second_expel)

train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4548 entries, 0 to 4547
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   предмет           4548 non-null   object
 1   tutor_head_tags   4548 non-null   object
 2   tutor_rating      3959 non-null   float64
 3   tutor_reviews     4548 non-null   int64
 4   Education_1       4548 non-null   object
 5   Desc_Education_1  4472 non-null   object
 6   Education_2       781 non-null    object
 7   Desc_Education_2  777 non-null    object
 8   Education_3       106 non-null    object
 9   Desc_Education_3  105 non-null    object
 10  Education_4       16 non-null     object
 11  Desc_Education_4  16 non-null     object
 12  Ученая степень 1  76 non-null     object
 13  Ученое звание 1   35 non-null     object
 14  status            4535 non-null   object
 15  experience        4523 non-null   object
 16  Desc_Education_5  3 non-null      object
 17  Desc_Education_6  1 non-null      object
 18  Education_5       3 non-null      object
 19  Education_6       1 non-null      object
 20  Ученая степень 2  1 non-null      object
 21  Ученое звание 2   1 non-null      object
 22  categories        4548 non-null   object
 23  mean_price        4548 non-null   float64
dtypes: float64(2), int64(1), object(21)
memory usage: 852.9+ KB

In [5]:
'''


# ФИО extract

pattern = r'\b([А-ЯЁ][а-яё]+\s+[А-ЯЁ][а-яё]+\s+[А-ЯЁ][а-яё]+)\b'
train['ФИО'] = train['text'].str.extract(pattern)

df.info
'''

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipykernel_915736/1813092078.py:1: SyntaxWarning: invalid escape sequence '\s'
  '''

"\n\n\n# ФИО extract\n\npattern = r'\x08([А-ЯЁ][а-яё]+\\s+[А-ЯЁ][а-яё]+\\s+[А-ЯЁ][а-яё]+)\x08'\ntrain['ФИО'] = train['text'].str.extract(pattern)\n\ndf.info\n"

In [6]:
# Professionality normalize
education_cols = [col for col in train.columns if col.startswith('Education_')]
degree_cols = [col for col in train.columns if col.startswith('Ученая степень ')]
title_cols = [col for col in train.columns if col.startswith('Ученое звание ')]

train['education_count'] = train[education_cols].notna().sum(axis=1)
test['education_count'] = test[education_cols].notna().sum(axis=1)
train['degree_count'] = train[degree_cols].notna().sum(axis=1)
test['degree_count'] = test[degree_cols].notna().sum(axis=1)
train['title_count'] = train[title_cols].notna().sum(axis=1)
test['title_count'] = test[title_cols].notna().sum(axis=1)

education_expel = [f"Education_{i}" for i in range(1, 7)]
education_expel += [f"Desc_Education_{i}" for i in range(1, 7)]
degree_expel = [f"Ученая степень {i}" for i in range(1, 3)]
title_expel = [f"Ученое звание {i}" for i in range(1, 3)]

train = train.drop(columns=education_expel + degree_expel + title_expel)
test = test.drop(columns=education_expel + degree_expel + title_expel)

# Numeric refreshion
train['experience'] = train['experience'].str.extract('(\\d+)')
test['experience'] = test['experience'].str.extract('(\\d+)')
train['experience'] = pd.to_numeric(train['experience'])
test['experience'] = pd.to_numeric(test['experience'])

train

,предмет,tutor_head_tags,tutor_rating,tutor_reviews,status,experience,categories,mean_price,education_count,degree_count,title_count
0,matematika,"['Школьная программа', 'Подготовка к ЕГЭ', 'По...",5.0,2,Университетский преподаватель,31.0,"['Школьники с 5 по 9 класс', 'Школьники с 10 п...",16.666667,1,0,0
1,matematika,"['Школьная программа', 'Подготовка к ЕГЭ', 'По...",4.0,7,Школьный преподаватель,8.0,"['Школьники с 5 по 9 класс', 'Школьники с 10 п...",11.666667,2,0,0
2,informatika,"['Школьная программа', 'Подготовка к ЕГЭ', 'По...",0.0,0,Школьный преподаватель,11.0,"['Школьники с 5 по 9 класс', 'Школьники с 10 п...",23.333333,3,0,0
3,matematika,"['Школьная программа', 'Математический анализ'...",4.0,19,Частный преподаватель,5.0,"['Школьники с 1 по 4 класс', 'Школьники с 5 по...",0.116667,1,0,0
4,matematika,"['Школьная программа', 'Подготовка к ЕГЭ', 'По...",0.0,0,Частный преподаватель,19.0,"['Школьники с 5 по 9 класс', 'Школьники с 10 п...",16.666667,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
4543,matematika,"['Школьная программа', 'Математический анализ'...",4.0,11,Частный преподаватель,5.0,"['Школьники с 1 по 4 класс', 'Школьники с 5 по...",16.666667,1,0,0
4544,informatika,"['Школьная программа', 'Подготовка к ЕГЭ', 'По...",0.0,0,Школьный преподаватель,30.0,['Школьники с 5 по 9 класс'],33.333333,1,0,0
4545,informatika,"['Школьная программа', 'Подготовка к ЕГЭ', 'По...",0.0,0,Студент,6.0,"['Школьники с 5 по 9 класс', 'Школьники с 10 п...",23.333333,1,0,0
4546,informatika,"['Школьная программа', 'Подготовка к ЕГЭ', 'По...",0.0,0,Студент,1.0,"['Школьники с 5 по 9 класс', 'Школьники с 10 п...",9.722222,1,0,0
4547,matematika,"['Школьная программа', 'Подготовка к ОГЭ', 'По...",0.0,0,Студент,4.0,"['Школьники с 1 по 4 класс', 'Школьники с 5 по...",11.111111,1,0,0

In [7]:
# Numeric refreshion of vectors
train = train.join(pd.get_dummies(train["предмет"]))
test = test.join(pd.get_dummies(train["предмет"]))
train = train.drop(columns=["предмет"])
test = test.drop(columns=["предмет"])

train = train.join(train['status'].str.get_dummies(sep=','))
test = test.join(test['status'].str.get_dummies(sep=','))
train = train.drop(columns=["status"])
test = test.drop(columns=["status"])

train

,tutor_head_tags,tutor_rating,tutor_reviews,experience,categories,mean_price,education_count,degree_count,title_count,informatika,matematika,Аспирант или ординатор очной формы обучения,Студент,Университетский преподаватель,Частный преподаватель,Школьный преподаватель
0,"['Школьная программа', 'Подготовка к ЕГЭ', 'По...",5.0,2,31.0,"['Школьники с 5 по 9 класс', 'Школьники с 10 п...",16.666667,1,0,0,False,True,0,0,1,0,0
1,"['Школьная программа', 'Подготовка к ЕГЭ', 'По...",4.0,7,8.0,"['Школьники с 5 по 9 класс', 'Школьники с 10 п...",11.666667,2,0,0,False,True,0,0,0,0,1
2,"['Школьная программа', 'Подготовка к ЕГЭ', 'По...",0.0,0,11.0,"['Школьники с 5 по 9 класс', 'Школьники с 10 п...",23.333333,3,0,0,True,False,0,0,0,0,1
3,"['Школьная программа', 'Математический анализ'...",4.0,19,5.0,"['Школьники с 1 по 4 класс', 'Школьники с 5 по...",0.116667,1,0,0,False,True,0,0,0,1,0
4,"['Школьная программа', 'Подготовка к ЕГЭ', 'По...",0.0,0,19.0,"['Школьники с 5 по 9 класс', 'Школьники с 10 п...",16.666667,1,0,0,False,True,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4543,"['Школьная программа', 'Математический анализ'...",4.0,11,5.0,"['Школьники с 1 по 4 класс', 'Школьники с 5 по...",16.666667,1,0,0,False,True,0,0,0,1,0
4544,"['Школьная программа', 'Подготовка к ЕГЭ', 'По...",0.0,0,30.0,['Школьники с 5 по 9 класс'],33.333333,1,0,0,True,False,0,0,0,0,1
4545,"['Школьная программа', 'Подготовка к ЕГЭ', 'По...",0.0,0,6.0,"['Школьники с 5 по 9 класс', 'Школьники с 10 п...",23.333333,1,0,0,True,False,0,1,0,0,0
4546,"['Школьная программа', 'Подготовка к ЕГЭ', 'По...",0.0,0,1.0,"['Школьники с 5 по 9 класс', 'Школьники с 10 п...",9.722222,1,0,0,True,False,0,1,0,0,0
4547,"['Школьная программа', 'Подготовка к ОГЭ', 'По...",0.0,0,4.0,"['Школьники с 1 по 4 класс', 'Школьники с 5 по...",11.111111,1,0,0,False,True,0,1,0,0,0

In [8]:
# Numeric refreshion of matrix
from sklearn.preprocessing import MultiLabelBinarizer
import ast

train['tutor_head_tags'] = train['tutor_head_tags'].apply(ast.literal_eval)
test['tutor_head_tags'] = test['tutor_head_tags'].apply(ast.literal_eval)

mlb = MultiLabelBinarizer()
tags_dummies = mlb.fit_transform(train['tutor_head_tags'])
tags_dummies_train = pd.DataFrame(tags_dummies, columns=mlb.classes_)
train = pd.concat([train, tags_dummies_train], axis=1)

mlb = MultiLabelBinarizer()
tags_dummies = mlb.fit_transform(test['tutor_head_tags'])
tags_dummies_test = pd.DataFrame(tags_dummies, columns=mlb.classes_)
test = pd.concat([test, tags_dummies_test], axis=1)

train = train.drop('tutor_head_tags', axis=1)
test = test.drop('tutor_head_tags', axis=1)

train['categories'] = train['categories'].apply(ast.literal_eval)
test['categories'] = test['categories'].apply(ast.literal_eval)

mlb = MultiLabelBinarizer()
tags_dummies = mlb.fit_transform(train['categories'])
tags_dummies_train = pd.DataFrame(tags_dummies, columns=mlb.classes_)
train = pd.concat([train, tags_dummies_train], axis=1)

mlb = MultiLabelBinarizer()
tags_dummies = mlb.fit_transform(test['categories'])
tags_dummies_test = pd.DataFrame(tags_dummies, columns=mlb.classes_)
test = pd.concat([test, tags_dummies_test], axis=1)

train = train.drop('categories', axis=1)
test = test.drop('categories', axis=1)

train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4548 entries, 0 to 4547
Data columns (total 50 columns):
 #   Column                                                                           Non-Null Count  Dtype
---  ------                                                                           --------------  -----
 0   tutor_rating                                                                     3959 non-null   float64
 1   tutor_reviews                                                                    4548 non-null   int64
 2   experience                                                                       4523 non-null   float64
 3   mean_price                                                                       4548 non-null   float64
 4   education_count                                                                  4548 non-null   int64
 5   degree_count                                                                     4548 non-null   int64
 6   title_count                                                                      4548 non-null   int64
 7   informatika                                                                      4548 non-null   bool
 8   matematika                                                                       4548 non-null   bool
 9    Аспирант или ординатор очной формы обучения                                     4548 non-null   int64
 10   Студент                                                                         4548 non-null   int64
 11   Университетский преподаватель                                                   4548 non-null   int64
 12   Частный преподаватель                                                           4548 non-null   int64
 13   Школьный преподаватель                                                          4548 non-null   int64
 14  A-level                                                                          4548 non-null   int64
 15  Elementary Mathematics in English                                                4548 non-null   int64
 16  GMAT (математическая часть)                                                      4548 non-null   int64
 17  Higher Mathematics in English - высшая математика на английском языке            4548 non-null   int64
 18  Mathematik auf Deutsch                                                           4548 non-null   int64
 19  SAT (математическая часть)                                                       4548 non-null   int64
 20  Аналитическая геометрия                                                          4548 non-null   int64
 21  Дискретная математика                                                            4548 non-null   int64
 22  Дифференциальные уравнения                                                       4548 non-null   int64
 23  Линейная алгебра                                                                 4548 non-null   int64
 24  Математическая логика                                                            4548 non-null   int64
 25  Математический анализ                                                            4548 non-null   int64
 26  Подготовка к ЕГЭ                                                                 4548 non-null   int64
 27  Подготовка к ОГЭ                                                                 4548 non-null   int64
 28  Подготовка к олимпиадам                                                          4548 non-null   int64
 29  ТФКП                                                                             4548 non-null   int64
 30  Теория вероятности и мат. статистика                                             4548 non-null   int64
 31  Уравнения мат физики                                                             4548 non-null   int64
 32  Школьная программа                                                               4548 non-null   int64
 33  Взрослые кроме абитуриентов и студентов                                          4548 non-null   int64
 34  Взрослые кроме абитуриентов и студентов в паре                                   4548 non-null   int64
 35  Взрослые кроме абитуриентов и студентов группа                                   4548 non-null   int64
 36  Дошкольники                                                                      4548 non-null   int64
 37  Дошкольники в паре                                                               4548 non-null   int64
 38  Дошкольники группа                                                               4548 non-null   int64
 39  Студенты университетов                                                           4548 non-null   int64
 40  Студенты университетов в паре                                                    4548 non-null   int64
 41  Школьники с 1 по 4 класс                                                         4548 non-null   int64
 42  Школьники с 1 по 4 класс в паре                                                  4548 non-null   int64
 43  Школьники с 1 по 4 класс группа                                                  4548 non-null   int64
 44  Школьники с 10 по 11 класс, студенты колледжей и техникумов, абитуриенты         4548 non-null   int64
 45  Школьники с 10 по 11 класс, студенты колледжей и техникумов, абитуриенты в паре  4548 non-null   int64
 46  Школьники с 10 по 11 класс, студенты колледжей и техникумов, абитуриенты группа  4548 non-null   int64
 47  Школьники с 5 по 9 класс                                                         4548 non-null   int64
 48  Школьники с 5 по 9 класс в паре                                                  4548 non-null   int64
 49  Школьники с 5 по 9 класс группа                                                  4548 non-null   int64
dtypes: bool(2), float64(3), int64(45)
memory usage: 1.7 MB

In [9]:
train = train.fillna(0)
test = test.fillna(0)

train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4548 entries, 0 to 4547
Data columns (total 50 columns):
 #   Column                                                                           Non-Null Count  Dtype
---  ------                                                                           --------------  -----
 0   tutor_rating                                                                     4548 non-null   float64
 1   tutor_reviews                                                                    4548 non-null   int64
 2   experience                                                                       4548 non-null   float64
 3   mean_price                                                                       4548 non-null   float64
 4   education_count                                                                  4548 non-null   int64
 5   degree_count                                                                     4548 non-null   int64
 6   title_count                                                                      4548 non-null   int64
 7   informatika                                                                      4548 non-null   bool
 8   matematika                                                                       4548 non-null   bool
 9    Аспирант или ординатор очной формы обучения                                     4548 non-null   int64
 10   Студент                                                                         4548 non-null   int64
 11   Университетский преподаватель                                                   4548 non-null   int64
 12   Частный преподаватель                                                           4548 non-null   int64
 13   Школьный преподаватель                                                          4548 non-null   int64
 14  A-level                                                                          4548 non-null   int64
 15  Elementary Mathematics in English                                                4548 non-null   int64
 16  GMAT (математическая часть)                                                      4548 non-null   int64
 17  Higher Mathematics in English - высшая математика на английском языке            4548 non-null   int64
 18  Mathematik auf Deutsch                                                           4548 non-null   int64
 19  SAT (математическая часть)                                                       4548 non-null   int64
 20  Аналитическая геометрия                                                          4548 non-null   int64
 21  Дискретная математика                                                            4548 non-null   int64
 22  Дифференциальные уравнения                                                       4548 non-null   int64
 23  Линейная алгебра                                                                 4548 non-null   int64
 24  Математическая логика                                                            4548 non-null   int64
 25  Математический анализ                                                            4548 non-null   int64
 26  Подготовка к ЕГЭ                                                                 4548 non-null   int64
 27  Подготовка к ОГЭ                                                                 4548 non-null   int64
 28  Подготовка к олимпиадам                                                          4548 non-null   int64
 29  ТФКП                                                                             4548 non-null   int64
 30  Теория вероятности и мат. статистика                                             4548 non-null   int64
 31  Уравнения мат физики                                                             4548 non-null   int64
 32  Школьная программа                                                               4548 non-null   int64
 33  Взрослые кроме абитуриентов и студентов                                          4548 non-null   int64
 34  Взрослые кроме абитуриентов и студентов в паре                                   4548 non-null   int64
 35  Взрослые кроме абитуриентов и студентов группа                                   4548 non-null   int64
 36  Дошкольники                                                                      4548 non-null   int64
 37  Дошкольники в паре                                                               4548 non-null   int64
 38  Дошкольники группа                                                               4548 non-null   int64
 39  Студенты университетов                                                           4548 non-null   int64
 40  Студенты университетов в паре                                                    4548 non-null   int64
 41  Школьники с 1 по 4 класс                                                         4548 non-null   int64
 42  Школьники с 1 по 4 класс в паре                                                  4548 non-null   int64
 43  Школьники с 1 по 4 класс группа                                                  4548 non-null   int64
 44  Школьники с 10 по 11 класс, студенты колледжей и техникумов, абитуриенты         4548 non-null   int64
 45  Школьники с 10 по 11 класс, студенты колледжей и техникумов, абитуриенты в паре  4548 non-null   int64
 46  Школьники с 10 по 11 класс, студенты колледжей и техникумов, абитуриенты группа  4548 non-null   int64
 47  Школьники с 5 по 9 класс                                                         4548 non-null   int64
 48  Школьники с 5 по 9 класс в паре                                                  4548 non-null   int64
 49  Школьники с 5 по 9 класс группа                                                  4548 non-null   int64
dtypes: bool(2), float64(3), int64(45)
memory usage: 1.7 MB

In [10]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1516 entries, 0 to 1515
Data columns (total 49 columns):
 #   Column                                                                           Non-Null Count  Dtype
---  ------                                                                           --------------  -----
 0   tutor_rating                                                                     1516 non-null   int64
 1   tutor_reviews                                                                    1516 non-null   int64
 2   experience                                                                       1516 non-null   float64
 3   education_count                                                                  1516 non-null   int64
 4   degree_count                                                                     1516 non-null   int64
 5   title_count                                                                      1516 non-null   int64
 6   informatika                                                                      1516 non-null   bool
 7   matematika                                                                       1516 non-null   bool
 8    Аспирант или ординатор очной формы обучения                                     1516 non-null   int64
 9    Студент                                                                         1516 non-null   int64
 10   Университетский преподаватель                                                   1516 non-null   int64
 11   Частный преподаватель                                                           1516 non-null   int64
 12   Школьный преподаватель                                                          1516 non-null   int64
 13  A-level                                                                          1516 non-null   int64
 14  Elementary Mathematics in English                                                1516 non-null   int64
 15  GMAT (математическая часть)                                                      1516 non-null   int64
 16  Higher Mathematics in English - высшая математика на английском языке            1516 non-null   int64
 17  Mathematik auf Deutsch                                                           1516 non-null   int64
 18  SAT (математическая часть)                                                       1516 non-null   int64
 19  Аналитическая геометрия                                                          1516 non-null   int64
 20  Дискретная математика                                                            1516 non-null   int64
 21  Дифференциальные уравнения                                                       1516 non-null   int64
 22  Линейная алгебра                                                                 1516 non-null   int64
 23  Математическая логика                                                            1516 non-null   int64
 24  Математический анализ                                                            1516 non-null   int64
 25  Подготовка к ЕГЭ                                                                 1516 non-null   int64
 26  Подготовка к ОГЭ                                                                 1516 non-null   int64
 27  Подготовка к олимпиадам                                                          1516 non-null   int64
 28  ТФКП                                                                             1516 non-null   int64
 29  Теория вероятности и мат. статистика                                             1516 non-null   int64
 30  Уравнения мат физики                                                             1516 non-null   int64
 31  Школьная программа                                                               1516 non-null   int64
 32  Взрослые кроме абитуриентов и студентов                                          1516 non-null   int64
 33  Взрослые кроме абитуриентов и студентов в паре                                   1516 non-null   int64
 34  Дошкольники                                                                      1516 non-null   int64
 35  Дошкольники в паре                                                               1516 non-null   int64
 36  Дошкольники группа                                                               1516 non-null   int64
 37  Студенты университетов                                                           1516 non-null   int64
 38  Студенты университетов в паре                                                    1516 non-null   int64
 39  Студенты университетов группа                                                    1516 non-null   int64
 40  Школьники с 1 по 4 класс                                                         1516 non-null   int64
 41  Школьники с 1 по 4 класс в паре                                                  1516 non-null   int64
 42  Школьники с 1 по 4 класс группа                                                  1516 non-null   int64
 43  Школьники с 10 по 11 класс, студенты колледжей и техникумов, абитуриенты         1516 non-null   int64
 44  Школьники с 10 по 11 класс, студенты колледжей и техникумов, абитуриенты в паре  1516 non-null   int64
 45  Школьники с 10 по 11 класс, студенты колледжей и техникумов, абитуриенты группа  1516 non-null   int64
 46  Школьники с 5 по 9 класс                                                         1516 non-null   int64
 47  Школьники с 5 по 9 класс в паре                                                  1516 non-null   int64
 48  Школьники с 5 по 9 класс группа                                                  1516 non-null   int64
dtypes: bool(2), float64(1), int64(46)
memory usage: 559.7 KB

In [11]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import pandas as pd

# Get union of all columns from both datasets (excluding target)
all_columns = pd.Index(
    train.columns.tolist() + 
    test.columns.tolist()
).unique().drop("mean_price", errors="ignore")

# PROPER DATA SPLITTING
# Training data
y_train = train["mean_price"]
X_train = train.reindex(columns=all_columns, fill_value=0)

# Test data (assuming test doesn't have target)
X_test = test.reindex(columns=all_columns, fill_value=0)

In [12]:
# Initialize and train model
lig_reg = LinearRegression()
lig_reg.fit(X_train, y_train)

# Make predictions
y_train_pred = lig_reg.predict(X_train)  # For training metrics
y_test_pred = lig_reg.predict(X_test)   # For actual test predictions

# Calculate TRAINING metrics
print("Training Metrics:")
print("MAE:", mean_absolute_error(y_train, y_train_pred))
print("MSE:", mean_squared_error(y_train, y_train_pred))
print("R²:", r2_score(y_train, y_train_pred))

Training Metrics:
MAE: 6.928806004392778
MSE: 91.72695392867826
R²: 0.16546088511505985

In [13]:
submition = pd.DataFrame(y_test_pred, columns=["mean_price"])
submition = submition.reset_index()

submition.to_csv("my_submit.csv", index=False)

## Another methods

In [34]:

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, BatchNormalization, Dropout
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

# Assuming you have:
# - train DataFrame with features + 'mean_price'
# - test DataFrame with features only

# 1. Prepare Training Data
# ------------------------
# Separate features and target
y_train = train["mean_price"]
X_train = train.drop(columns=["mean_price"])

# 2. Align Columns Between Train and Test
# --------------------------------------
# Get union of columns (excluding target)
all_columns = X_train.columns.union(test.columns)

# Reindex both datasets
X_train = X_train.reindex(columns=all_columns, fill_value=0)
X_test = test.reindex(columns=all_columns, fill_value=0)

# 3. Feature Scaling
# ------------------
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# 4. Build and Train Model
# ------------------------
model = Sequential([
    Dense(48, activation='relu', input_shape=(X_train_scaled.shape[1],)),
    BatchNormalization(), 
    Dropout(0.2),
    Dense(10, activation='relu'),
    Dense(10, activation='relu'),
    Dense(1, activation='linear')
])

model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=1e-3), loss='mse', metrics=["mae"])
history = model.fit(X_train_scaled, y_train, epochs=100, batch_size=16, validation_split=0.2)

# 5. Make Predictions
# -------------------
predictions = model.predict(X_test_scaled).flatten()

# 6. Create Submission/Output
# ---------------------------
# Add predictions to test DataFrame
test["mean_price"] = predictions

# Save results
test[["mean_price"]].reset_index().to_csv("predictions.csv", index=False)

print(f"First 5 predictions: {predictions[:5]}")

Epoch 1/100

/home/andredon/projects/ADA/.venv/lib/python3.12/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

228/228 ━━━━━━━━━━━━━━━━━━━━ 1s 722us/step - loss: 349.3827 - mae: 15.6492 - val_loss: 156.2355 - val_mae: 9.3888
Epoch 2/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 492us/step - loss: 126.3491 - mae: 8.3040 - val_loss: 99.8265 - val_mae: 7.1328
Epoch 3/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 470us/step - loss: 104.6957 - mae: 7.5390 - val_loss: 99.7457 - val_mae: 7.0511
Epoch 4/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 461us/step - loss: 101.0073 - mae: 7.3301 - val_loss: 101.2650 - val_mae: 7.1152
Epoch 5/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 423us/step - loss: 98.6944 - mae: 7.1466 - val_loss: 100.1350 - val_mae: 7.0655
Epoch 6/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 425us/step - loss: 96.0854 - mae: 7.2001 - val_loss: 99.1813 - val_mae: 6.9973
Epoch 7/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 439us/step - loss: 92.0705 - mae: 6.8871 - val_loss: 100.6619 - val_mae: 7.0615
Epoch 8/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 459us/step - loss: 98.1400 - mae: 7.1005 - val_loss: 100.6005 - val_mae: 7.0609
Epoch 9/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 472us/step - loss: 90.3351 - mae: 6.8993 - val_loss: 98.6936 - val_mae: 7.0028
Epoch 10/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 469us/step - loss: 83.0570 - mae: 6.7570 - val_loss: 99.3086 - val_mae: 7.0327
Epoch 11/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 486us/step - loss: 89.2521 - mae: 6.9204 - val_loss: 99.8400 - val_mae: 6.9990
Epoch 12/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 461us/step - loss: 88.9605 - mae: 6.8169 - val_loss: 99.8971 - val_mae: 7.0133
Epoch 13/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 443us/step - loss: 82.8276 - mae: 6.6723 - val_loss: 98.4914 - val_mae: 6.9587
Epoch 14/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 440us/step - loss: 82.9201 - mae: 6.6808 - val_loss: 100.0760 - val_mae: 7.0031
Epoch 15/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 435us/step - loss: 83.9666 - mae: 6.7861 - val_loss: 100.2672 - val_mae: 7.0309
Epoch 16/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 433us/step - loss: 96.7753 - mae: 6.9141 - val_loss: 100.1821 - val_mae: 7.0277
Epoch 17/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 431us/step - loss: 85.5084 - mae: 6.8181 - val_loss: 98.6234 - val_mae: 6.9866
Epoch 18/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 444us/step - loss: 82.6795 - mae: 6.5666 - val_loss: 99.3478 - val_mae: 6.9519
Epoch 19/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 469us/step - loss: 83.6589 - mae: 6.6733 - val_loss: 98.4910 - val_mae: 6.9303
Epoch 20/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 453us/step - loss: 86.4266 - mae: 6.8106 - val_loss: 100.6233 - val_mae: 6.9806
Epoch 21/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 476us/step - loss: 83.1781 - mae: 6.6989 - val_loss: 99.3167 - val_mae: 6.9510
Epoch 22/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 467us/step - loss: 83.2353 - mae: 6.6467 - val_loss: 100.1038 - val_mae: 6.9679
Epoch 23/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 445us/step - loss: 80.1610 - mae: 6.5383 - val_loss: 100.5086 - val_mae: 7.0045
Epoch 24/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 481us/step - loss: 82.7953 - mae: 6.6811 - val_loss: 99.0184 - val_mae: 6.9242
Epoch 25/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 477us/step - loss: 81.0767 - mae: 6.5930 - val_loss: 98.2346 - val_mae: 6.9074
Epoch 26/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 458us/step - loss: 89.8579 - mae: 6.7026 - val_loss: 99.6451 - val_mae: 6.9515
Epoch 27/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 491us/step - loss: 76.9810 - mae: 6.5045 - val_loss: 97.5648 - val_mae: 6.8717
Epoch 28/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 477us/step - loss: 81.8191 - mae: 6.5612 - val_loss: 98.7251 - val_mae: 6.9181
Epoch 29/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 448us/step - loss: 78.1236 - mae: 6.5327 - val_loss: 103.3752 - val_mae: 6.9861
Epoch 30/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 455us/step - loss: 79.5349 - mae: 6.5980 - val_loss: 100.9551 - val_mae: 6.9467
Epoch 31/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 454us/step - loss: 88.3936 - mae: 6.6481 - val_loss: 101.4674 - val_mae: 6.9179
Epoch 32/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 435us/step - loss: 75.4485 - mae: 6.4678 - val_loss: 97.6369 - val_mae: 6.8453
Epoch 33/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 466us/step - loss: 74.3825 - mae: 6.3218 - val_loss: 97.7973 - val_mae: 6.8500
Epoch 34/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 447us/step - loss: 81.5605 - mae: 6.5369 - val_loss: 98.9003 - val_mae: 6.9178
Epoch 35/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 485us/step - loss: 80.9366 - mae: 6.5536 - val_loss: 97.8347 - val_mae: 6.8694
Epoch 36/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 448us/step - loss: 77.9025 - mae: 6.4735 - val_loss: 97.2090 - val_mae: 6.8445
Epoch 37/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 455us/step - loss: 75.8020 - mae: 6.4623 - val_loss: 97.2486 - val_mae: 6.9190
Epoch 38/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 471us/step - loss: 81.0586 - mae: 6.5999 - val_loss: 103.1178 - val_mae: 7.0406
Epoch 39/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 474us/step - loss: 81.0513 - mae: 6.6174 - val_loss: 98.1719 - val_mae: 6.8690
Epoch 40/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 462us/step - loss: 80.4983 - mae: 6.4340 - val_loss: 98.1665 - val_mae: 6.8726
Epoch 41/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 452us/step - loss: 82.1685 - mae: 6.5264 - val_loss: 96.6711 - val_mae: 6.8676
Epoch 42/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 428us/step - loss: 78.7768 - mae: 6.5295 - val_loss: 99.5086 - val_mae: 6.8678
Epoch 43/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 439us/step - loss: 76.2822 - mae: 6.4017 - val_loss: 96.6506 - val_mae: 6.8447
Epoch 44/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 439us/step - loss: 76.7659 - mae: 6.4945 - val_loss: 102.0471 - val_mae: 6.9436
Epoch 45/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 453us/step - loss: 87.1856 - mae: 6.7346 - val_loss: 98.4274 - val_mae: 6.8300
Epoch 46/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 440us/step - loss: 77.6526 - mae: 6.4712 - val_loss: 96.3613 - val_mae: 6.8478
Epoch 47/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 444us/step - loss: 75.9357 - mae: 6.3465 - val_loss: 98.0412 - val_mae: 6.8538
Epoch 48/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 436us/step - loss: 79.9821 - mae: 6.6259 - val_loss: 99.6864 - val_mae: 6.8742
Epoch 49/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 426us/step - loss: 83.5286 - mae: 6.5737 - val_loss: 97.7975 - val_mae: 6.8197
Epoch 50/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 435us/step - loss: 75.0369 - mae: 6.3908 - val_loss: 97.4457 - val_mae: 6.8255
Epoch 51/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 441us/step - loss: 71.9439 - mae: 6.2444 - val_loss: 98.8515 - val_mae: 6.8594
Epoch 52/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 433us/step - loss: 77.2014 - mae: 6.4424 - val_loss: 97.6930 - val_mae: 6.8636
Epoch 53/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 488us/step - loss: 74.0155 - mae: 6.3739 - val_loss: 97.2099 - val_mae: 6.8686
Epoch 54/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 462us/step - loss: 76.0344 - mae: 6.3867 - val_loss: 95.4642 - val_mae: 6.8060
Epoch 55/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 475us/step - loss: 76.0972 - mae: 6.3761 - val_loss: 95.6478 - val_mae: 6.8124
Epoch 56/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 458us/step - loss: 75.1964 - mae: 6.4333 - val_loss: 95.9928 - val_mae: 6.8086
Epoch 57/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 464us/step - loss: 75.8941 - mae: 6.3513 - val_loss: 96.6250 - val_mae: 6.8180
Epoch 58/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 459us/step - loss: 69.5322 - mae: 6.1839 - val_loss: 96.5422 - val_mae: 6.7959
Epoch 59/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 445us/step - loss: 77.6949 - mae: 6.3707 - val_loss: 97.7316 - val_mae: 6.8622
Epoch 60/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 457us/step - loss: 74.0605 - mae: 6.1779 - val_loss: 94.3352 - val_mae: 6.8033
Epoch 61/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 451us/step - loss: 71.8879 - mae: 6.2482 - val_loss: 95.4042 - val_mae: 6.8350
Epoch 62/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 450us/step - loss: 81.3242 - mae: 6.4217 - val_loss: 91.7632 - val_mae: 6.7568
Epoch 63/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 435us/step - loss: 72.9366 - mae: 6.2981 - val_loss: 94.0359 - val_mae: 6.7650
Epoch 64/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 465us/step - loss: 71.9746 - mae: 6.2472 - val_loss: 94.4945 - val_mae: 6.8468
Epoch 65/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 481us/step - loss: 71.4711 - mae: 6.2416 - val_loss: 95.7212 - val_mae: 6.7563
Epoch 66/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 478us/step - loss: 72.2993 - mae: 6.2108 - val_loss: 91.9742 - val_mae: 6.7348
Epoch 67/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 455us/step - loss: 71.3795 - mae: 6.1709 - val_loss: 94.0325 - val_mae: 6.8029
Epoch 68/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 431us/step - loss: 73.5752 - mae: 6.2610 - val_loss: 92.3085 - val_mae: 6.7458
Epoch 69/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 457us/step - loss: 74.5628 - mae: 6.3214 - val_loss: 94.4076 - val_mae: 6.7644
Epoch 70/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 430us/step - loss: 71.7777 - mae: 6.3181 - val_loss: 92.2617 - val_mae: 6.7650
Epoch 71/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 457us/step - loss: 73.8128 - mae: 6.1738 - val_loss: 93.2422 - val_mae: 6.7715
Epoch 72/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 474us/step - loss: 76.6687 - mae: 6.3605 - val_loss: 95.4337 - val_mae: 6.8202
Epoch 73/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 461us/step - loss: 77.9447 - mae: 6.3853 - val_loss: 93.7519 - val_mae: 6.7986
Epoch 74/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 478us/step - loss: 67.5826 - mae: 6.1119 - val_loss: 90.2852 - val_mae: 6.7619
Epoch 75/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 454us/step - loss: 72.1630 - mae: 6.2495 - val_loss: 95.7187 - val_mae: 6.8541
Epoch 76/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 454us/step - loss: 73.7854 - mae: 6.3380 - val_loss: 94.3239 - val_mae: 6.8164
Epoch 77/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 482us/step - loss: 69.2959 - mae: 6.1501 - val_loss: 91.4330 - val_mae: 6.7024
Epoch 78/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 474us/step - loss: 71.7127 - mae: 6.1826 - val_loss: 91.8449 - val_mae: 6.7330
Epoch 79/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 463us/step - loss: 70.3671 - mae: 6.3125 - val_loss: 92.3893 - val_mae: 6.7298
Epoch 80/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 454us/step - loss: 76.9941 - mae: 6.3927 - val_loss: 97.7907 - val_mae: 6.8474
Epoch 81/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 448us/step - loss: 70.8809 - mae: 6.2031 - val_loss: 92.6107 - val_mae: 6.7378
Epoch 82/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 449us/step - loss: 67.7722 - mae: 6.0317 - val_loss: 89.2616 - val_mae: 6.7316
Epoch 83/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 457us/step - loss: 74.1345 - mae: 6.2791 - val_loss: 91.0676 - val_mae: 6.8227
Epoch 84/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 455us/step - loss: 81.9535 - mae: 6.4120 - val_loss: 90.3547 - val_mae: 6.7442
Epoch 85/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 467us/step - loss: 68.8814 - mae: 6.1477 - val_loss: 88.8580 - val_mae: 6.6662
Epoch 86/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 468us/step - loss: 73.1263 - mae: 6.2470 - val_loss: 92.3287 - val_mae: 6.7488
Epoch 87/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 456us/step - loss: 70.6024 - mae: 6.2224 - val_loss: 90.1445 - val_mae: 6.7159
Epoch 88/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 459us/step - loss: 75.9911 - mae: 6.2287 - val_loss: 91.2155 - val_mae: 6.7272
Epoch 89/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 458us/step - loss: 74.1903 - mae: 6.2144 - val_loss: 90.6735 - val_mae: 6.7579
Epoch 90/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 451us/step - loss: 72.2820 - mae: 6.3319 - val_loss: 89.3069 - val_mae: 6.6976
Epoch 91/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 450us/step - loss: 69.5678 - mae: 6.1993 - val_loss: 88.9456 - val_mae: 6.6835
Epoch 92/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 469us/step - loss: 69.1165 - mae: 6.0463 - val_loss: 89.4279 - val_mae: 6.7164
Epoch 93/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 463us/step - loss: 70.0766 - mae: 6.1913 - val_loss: 89.0133 - val_mae: 6.6423
Epoch 94/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 479us/step - loss: 67.8408 - mae: 6.0614 - val_loss: 90.1401 - val_mae: 6.6889
Epoch 95/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 468us/step - loss: 72.0944 - mae: 6.2393 - val_loss: 91.5503 - val_mae: 6.7057
Epoch 96/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 469us/step - loss: 69.6013 - mae: 6.1857 - val_loss: 91.4235 - val_mae: 6.6970
Epoch 97/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 457us/step - loss: 70.4218 - mae: 6.2017 - val_loss: 89.2682 - val_mae: 6.6727
Epoch 98/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 452us/step - loss: 71.1267 - mae: 6.2020 - val_loss: 89.8409 - val_mae: 6.6596
Epoch 99/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 460us/step - loss: 69.1252 - mae: 6.1389 - val_loss: 89.2036 - val_mae: 6.6556
Epoch 100/100
228/228 ━━━━━━━━━━━━━━━━━━━━ 0s 480us/step - loss: 71.6858 - mae: 6.2342 - val_loss: 93.6660 - val_mae: 6.7265
48/48 ━━━━━━━━━━━━━━━━━━━━ 0s 614us/step
First 5 predictions: [40.328323 11.660212 46.52619   8.294094 29.742891]